* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
}

.wrapper {
    display: flex;
    margin: 30px;
}

#text {
    resize: none;
    width: 320px;
    height: 600px;
    font-size: 14px;
}

#btn {
    border: 0;
    padding: 10px 20px;
    color: white;
    background: salmon;
    justify-content: center;
    display: flex;
    width: 320px;
    font-weight: bold;
    cursor: pointer;
}

.result-block {
    margin-left: 40px;
}

.result-block > *:not(:last-of-type) {
    margin-bottom: 30px;
}

#king {
    color: brown;
    font-size: 20px;
}

#twin {
    color: darkcyan;
    font-size: 20px;
}

#other {
    color: green;
    font-size: 20px;
}